title: John Lalor
description: Assistant Professor of IT, Analytics, and Operations at Notre Dame
remote_theme: mmistakes/so-simple-theme@3.2.0

repository: jplalor/jplalor.github.io

plugins:
  - jekyll-scholar
  - jekyll-include-cache
  - jekyll-remote-theme
  - jekyll-feed
  - jekyll-paginate

paginate: 10  # amount of posts to show per page
paginate_path: /blog/page:num/


#baseurl: '/'
url: 'https://johnlalor.net'

exclude:
  - README.md
  - Gemfile

logo: /images/me.jpg

google_analytics: "G-54FX4FSCJP"

permalink: /:year/:month/:title/


scholar:
  bibliography_template: bib
  bibtex_filters:
    - latex

defaults:
  # _posts
  - scope:
      path: "_posts"
      type: posts
    values:
      layout: post
      show_date: true
      share: true
  - scope:
      path: "_drafts"
      type: posts
    values:
      layout: post
      show_date: true

